/* FONTS */

@font-face {
    font-family:"adorn-condensed-sans";
    src:url("https://use.typekit.net/af/1ec651/00000000000000003b9b0983/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/1ec651/00000000000000003b9b0983/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/1ec651/00000000000000003b9b0983/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
    }

@font-face {
    font-family:"liebeerika";
    src:url("https://use.typekit.net/af/9c9fcf/00000000000000003b9b3d4d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/9c9fcf/00000000000000003b9b3d4d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/9c9fcf/00000000000000003b9b3d4d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;
    }
    
    @font-face {
    font-family:"liebeerika";
    src:url("https://use.typekit.net/af/6ff064/00000000000000003b9b3d4b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/6ff064/00000000000000003b9b3d4b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/6ff064/00000000000000003b9b3d4b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
    }

    @font-face {
        font-family:"buckley";
        src:url("https://use.typekit.net/af/ab4500/00000000000000003b9b099b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/ab4500/00000000000000003b9b099b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/ab4500/00000000000000003b9b099b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
        font-display:auto;font-style:normal;font-weight:400;
        }

/* GLOBAL */

html,
body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.15rem;
    color: rgb(255, 245, 238);
}
body,
header,
#belly-band,
.box,
footer {
    background-color: rgb(10, 3, 19);
}
h2 {
    font-family: adorn-condensed-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    padding: 1.4rem 0 0 0;
}
h3 {
    font-family: liebeerika, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.4rem;
    padding: 15px 0 20px 0;
}
h4 {
    font-family: buckley, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    padding-bottom: 1.5em;
}
h5 {
    font-family: buckley, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    padding-bottom: 15px;
}
h2,
h3,
h4,
h5 {
    margin: 0;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 69px;
    position: fixed;
    border-bottom: 1px solid rgb(255, 245, 238);
    z-index: 10;
    width: 100%;
    box-shadow: 0 0.5px 8px rgb(49, 49, 48);
}
.logo {
    height: 50px;
    padding-right: 10px;
}
nav {
    padding-right: 20px;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
}
li a {
    font-family: liebeerika, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.25rem;
    margin-left: 0.85rem;
    padding-top: 0.2rem;
    text-decoration: none;
    color: rgb(235, 245, 247);
}
li a:hover {
    color: rgb(142, 160, 151);
    border-top: 2px solid rgb(175, 4, 74);
}

/* MAIN */

#hero-container {
    display: flex;
    align-items: center;
    position: relative;
    top: 70px;
    height: 700px;
    background-image: url('../images/img-mission-background.jpg');
    margin: 0 auto 100px;
}
#hero-container,
#locations-container {
    width: 1200px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}
#belly-band {
    width: 1200px;
}
#totm-container {
    width: 1000px;
    margin: 0 auto;
}
#teas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
figure {
    height: 200px;
    width: 300px;
    margin: 32px 16px;
}
.tea-pic {
    width: 100%;
    height: auto;
    opacity: 0.9;
}
figcaption {
    font-family: liebeerika, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    font-style: normal;
    padding-top: 10px;
}
#locations-container {
    height: 550px;
    background-image: url('../images/img-locations-background.jpg');
    margin: 70px auto;
}
#box-container {
    display: flex;
    justify-content: center;
}
.box {
    width: 300px;
    margin: 15px 40px;
}
p.address {
    font-family: liebeerika, sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    font-style: normal;
    line-height: 2em;
    margin: 0 0 15px 0;
}

/* FOOTER */

#copyright {
    font-family: liebeerika, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
}